.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  max-width: 500px;
}

.slide-container {
  position: relative;
  margin: 2rem 0;
}

.image {
  width: 100%;
  border-radius: 2.5rem;
}
