/* SliderComponent.css */
.container {
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  max-width: 500px;
}

.slide-container {
  position: relative;
}

.image {
  width: 100%;
  border-radius: 2.5rem;
}
