.container {
  max-width: 900px;
  /* border: 2px solid red; */
  margin: 0 auto;
}

.cat-images {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  /* border: 2px solid blue; */
}

.cat {
  width: 100%;
  margin-top: 12rem;
  border-radius: 2rem;
}
